<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abigail05">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Abigail05"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Abigail.almohadones"
            android:label="Abigail05 | Almohadones"
            android:parentActivityName=".Abigail.abiprodlist" />
        <activity
            android:name=".Abigail.combo1"
            android:label="Abigail05 | Almohadones"
            android:parentActivityName=".Abigail.almohadones" />
        <activity
            android:name=".webview"
            android:label="Precio y forma de pago"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Abigail.combo2"
            android:label="Abigail05 | Almohadones"
            android:parentActivityName=".Abigail.almohadones" />
        <activity
            android:name=".Abigail.combo3"
            android:label="Abigail05 | Almohadones"
            android:parentActivityName=".Abigail.almohadones" />
        <activity
            android:name=".Abigail.combo4"
            android:label="Abigail05 | Almohadones"
            android:parentActivityName=".Abigail.almohadones" />
        <activity
            android:name=".Abigail.abiprodlist"
            android:label="Productos Abigail05"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Abigail.niditos"
            android:label="Abigail05 | Niditos y cuellitos"
            android:parentActivityName=".Abigail.abiprodlist" />
        <activity
            android:name=".Abigail.nidito1"
            android:label="Abigail05 | Nidito"
            android:parentActivityName=".Abigail.niditos" />
        <activity
            android:name=".Abigail.nidito2"
            android:label="Abigail05 | Cuellito bebé"
            android:parentActivityName=".Abigail.niditos" />
        <activity
            android:name=".Abigail.nidito3"
            android:label="Abigail05 | Cuello adulto"
            android:parentActivityName=".Abigail.niditos" />
        <activity
            android:name=".Abigail.colchon1"
            android:label="Abigail05 | Colchoncitos"
            android:parentActivityName=".Abigail.abiprodlist" />
        <activity
            android:name=".marcas"
            android:label="Marcas"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".pilim.pilimprodlist"
            android:label="Pilim | Productos"
            android:parentActivityName=".marcas" />
        <activity
            android:name=".pilim.pilim1"
            android:label="Pilim | Bolso maternal"
            android:parentActivityName=".pilim.pilimprodlist" />
        <activity
            android:name=".pilim.pilim2"
            android:label="Pilim | Bolso maternal"
            android:parentActivityName=".pilim.pilimprodlist" />
        <activity
            android:name=".pilim.pilim3"
            android:label="Pilim | Bolso maternal"
            android:parentActivityName=".pilim.pilimprodlist" />
        <activity
            android:name=".mibes.mibesprodlist"
            android:label="mibes | Productos"
            android:parentActivityName=".marcas" />
        <activity
            android:name=".mibes.mibes1"
            android:label="mibes | Bolso maternal"
            android:parentActivityName=".mibes.mibesprodlist" />
        <activity
            android:name=".mibes.mibes2"
            android:label="mibes | Bolso maternal"
            android:parentActivityName=".mibes.mibesprodlist" />
        <activity
            android:name=".Avent.aventprodlist"
            android:label="Avent | Productos"
            android:parentActivityName=".marcas" />
        <activity
            android:name=".Avent.aventclassic"
            android:label="Avent | Línea classic"
            android:parentActivityName=".Avent.aventprodlist" />
        <activity
            android:name=".Avent.aventclassic1"
            android:label="Avent | Mamadera"
            android:parentActivityName=".Avent.aventclassic" />
        <activity
            android:name=".Avent.aventclassic2"
            android:label="Avent | Mamadera"
            android:parentActivityName=".Avent.aventclassic" />
        <activity
            android:name=".Avent.aventclassic3"
            android:label="Avent | Mamadera"
            android:parentActivityName=".Avent.aventclassic" />
        <activity
            android:name=".Avent.aventclassic4"
            android:label="Avent | Set recién nacido"
            android:parentActivityName=".Avent.aventclassic" />
        <activity
            android:name=".Avent.aventclassic5"
            android:label="Avent | Tetina Classic+"
            android:parentActivityName=".Avent.aventclassic" />
        <activity
            android:name=".Avent.aventclassic6"
            android:label="Avent | Tetina Classic+"
            android:parentActivityName=".Avent.aventclassic" />
        <activity
            android:name=".Avent.aventclassic7"
            android:label="Avent | Tetina Classic+"
            android:parentActivityName=".Avent.aventclassic" />
        <activity
            android:name=".Avent.aventclassic8"
            android:label="Avent | Tetina Classic+"
            android:parentActivityName=".Avent.aventclassic" />
        <activity
            android:name=".Avent.aventclassic9"
            android:label="Avent | Vaso con asas"
            android:parentActivityName=".Avent.aventclassic" />
        <activity
            android:name=".Avent.aventclassic10"
            android:label="Avent | Vaso con asas"
            android:parentActivityName=".Avent.aventclassic" />
        <activity
            android:name=".Abigail.almohada1"
            android:label="Abigail05 | Almohada"
            android:parentActivityName=".Abigail.abiprodlist" />
        <activity
            android:name=".Abigail.fular1"
            android:label="Abigail05 | Fular"
            android:parentActivityName=".Abigail.abiprodlist" />
        <activity
            android:name=".Avent.aventnatural"
            android:label="Avent | Línea natural"
            android:parentActivityName=".Avent.aventprodlist" />
        <activity
            android:name=".Avent.aventnatural1"
            android:label="Avent | Mamadera"
            android:parentActivityName=".Avent.aventnatural" />
        <activity
            android:name=".Avent.aventnatural2"
            android:label="Avent | Mamadera"
            android:parentActivityName=".Avent.aventnatural" />
        <activity
            android:name=".Avent.aventnatural3"
            android:label="Avent | Tetina"
            android:parentActivityName=".Avent.aventnatural" />
        <activity
            android:name=".Avent.aventnatural4"
            android:label="Avent | Tetina"
            android:parentActivityName=".Avent.aventnatural" />
        <activity
            android:name=".Avent.aventnatural5"
            android:label="Avent | Tetina"
            android:parentActivityName=".Avent.aventnatural" />
        <activity
            android:name=".Avent.aventnatural6"
            android:label="Avent | Tetina"
            android:parentActivityName=".Avent.aventnatural" />
        <activity
            android:name=".Avent.aventnatural7"
            android:label="Avent | Sacaleche"
            android:parentActivityName=".Avent.aventnatural" />
        <activity
            android:name=".Avent.aventnatural8"
            android:label="Avent | Recipientes para leche"
            android:parentActivityName=".Avent.aventnatural" />
        <activity
            android:name=".contacto"
            android:label="Contacto"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".contactook" />
        <activity
            android:name=".Avent.aventchupetes"
            android:label="Avent | Chupetes"
            android:parentActivityName=".Avent.aventprodlist" />
        <activity
            android:name=".Avent.aventchupete1"
            android:label="Avent | Chupete"
            android:parentActivityName=".Avent.aventchupetes" />
        <activity
            android:name=".Avent.aventchupete2"
            android:label="Avent | Chupete"
            android:parentActivityName=".Avent.aventchupetes" />
        <activity
            android:name=".Avent.aventchupete3"
            android:label="Avent | Chupete"
            android:parentActivityName=".Avent.aventchupetes" />
        <activity
            android:name=".Avent.aventchupete4"
            android:label="Avent | Chupete"
            android:parentActivityName=".Avent.aventchupetes" />
        <activity
            android:name=".Avent.aventchupete5"
            android:label="Avent | Chupete"
            android:parentActivityName=".Avent.aventchupetes" />
        <activity
            android:name=".Avent.aventchupete6"
            android:label="Avent | Chupete"
            android:parentActivityName=".Avent.aventchupetes" />
        <activity
            android:name=".Avent.aventchupete7"
            android:label="Avent | Chupete"
            android:parentActivityName=".Avent.aventchupetes" />
        <activity
            android:name=".Avent.aventchupete8"
            android:label="Avent | Chupete"
            android:parentActivityName=".Avent.aventchupetes" />
        <activity
            android:name=".Avent.aventchupete9"
            android:label="Avent | Chupete"
            android:parentActivityName=".Avent.aventchupetes" />
        <activity
            android:name=".Avent.aventchupete10"
            android:label="Avent | Chupete"
            android:parentActivityName=".Avent.aventchupetes" />
        <activity
            android:name=".Avent.aventchupete11"
            android:label="Avent | Chupete"
            android:parentActivityName=".Avent.aventchupetes" />
        <activity
            android:name=".Avent.aventaccesorios"
            android:label="Avent | Accesorios"
            android:parentActivityName=".Avent.aventprodlist" />
        <activity
            android:name=".Avent.aventaccesorios1"
            android:label="Avent | Mordillo elefante"
            android:parentActivityName=".Avent.aventaccesorios" />
        <activity
            android:name=".Avent.aventaccesorios2"
            android:label="Avent | Boquilla rígida"
            android:parentActivityName=".Avent.aventaccesorios" />
        <activity
            android:name=".Avent.aventaccesorios3"
            android:label="Avent | Cuchara y tenedor"
            android:parentActivityName=".Avent.aventaccesorios" />
        <activity
            android:name=".Avent.aventaccesorios4"
            android:label="Avent | Cuchara, tenedor y cuchillo"
            android:parentActivityName=".Avent.aventaccesorios" />
        <activity
            android:name=".Avent.aventaccesorios5"
            android:label="Avent | Plato hondo pequeño"
            android:parentActivityName=".Avent.aventaccesorios" />
        <activity
            android:name=".Avent.aventaccesorios6"
            android:label="Avent | Plato hondo grande"
            android:parentActivityName=".Avent.aventaccesorios" />
        <activity
            android:name=".Avent.aventaccesorios7"
            android:label="Avent | Pezoneras small"
            android:parentActivityName=".Avent.aventaccesorios" />
        <activity
            android:name=".Avent.aventaccesorios8"
            android:label="Avent | Pezoneras standard"
            android:parentActivityName=".Avent.aventaccesorios" />
        <activity
            android:name=".Avent.aventaccesorios9"
            android:label="Avent | Esterilizador a vapor"
            android:parentActivityName=".Avent.aventaccesorios"/>
        <activity android:name=".Avent.aventaccesorios10"
            android:label="Avent | Esterilizador eléctrico"
            android:parentActivityName=".Avent.aventaccesorios">

        </activity>
    </application>

</manifest>