<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abigail05">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Abigail05"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".almohadones"
            android:label="Abigail05 | Almohadones"
            android:parentActivityName=".abiprodlist" />
        <activity
            android:name=".combo1"
            android:label="Abigail05 | Almohadones"
            android:parentActivityName=".almohadones" />
        <activity
            android:name=".webview"
            android:label="Precio y forma de pago"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".combo2"
            android:label="Abigail05 | Almohadones"
            android:parentActivityName=".almohadones" />
        <activity
            android:name=".combo3"
            android:label="Abigail05 | Almohadones"
            android:parentActivityName=".almohadones" />
        <activity
            android:name=".combo4"
            android:label="Abigail05 | Almohadones"
            android:parentActivityName=".almohadones" />
        <activity
            android:name=".abiprodlist"
            android:label="Productos Abigail05"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".niditos"
            android:label="Abigail05 | Niditos y cuellitos"
            android:parentActivityName=".abiprodlist" />
        <activity
            android:name=".nidito1"
            android:label="Abigail05 | Nidito"
            android:parentActivityName=".niditos" />
        <activity
            android:name=".nidito2"
            android:label="Abigail05 | Cuellito bebé"
            android:parentActivityName=".niditos" />
        <activity
            android:name=".nidito3"
            android:label="Abigail05 | Cuello adulto"
            android:parentActivityName=".niditos" />
        <activity
            android:name=".colchon1"
            android:label="Abigail05 | Colchoncitos"
            android:parentActivityName=".abiprodlist" />
        <activity
            android:name=".marcas"
            android:label="Marcas"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".pilimprodlist"
            android:label="Pilim | Productos"
            android:parentActivityName=".marcas" />
        <activity
            android:name=".pilim1"
            android:label="Pilim | Bolso maternal"
            android:parentActivityName=".pilimprodlist" />
        <activity
            android:name=".pilim2"
            android:label="Pilim | Bolso maternal"
            android:parentActivityName=".pilimprodlist" />
        <activity
            android:name=".pilim3"
            android:label="Pilim | Bolso maternal"
            android:parentActivityName=".pilimprodlist" />
        <activity
            android:name=".mibesprodlist"
            android:label="mibes | Productos"
            android:parentActivityName=".marcas"/>
        <activity android:name=".mibes1"
            android:label="mibes | Bolso maternal"
            android:parentActivityName=".mibesprodlist">

        </activity>
    </application>

</manifest>