<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abigail05">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Abigail05"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Abigail.almohadones"
            android:label="Abigail05 | Almohadones"
            android:parentActivityName=".Abigail.abiprodlist" />
        <activity
            android:name=".Abigail.combo1"
            android:label="Abigail05 | Almohadones"
            android:parentActivityName=".Abigail.almohadones" />
        <activity
            android:name=".webview"
            android:label="Precio y forma de pago"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Abigail.combo2"
            android:label="Abigail05 | Almohadones"
            android:parentActivityName=".Abigail.almohadones" />
        <activity
            android:name=".Abigail.combo3"
            android:label="Abigail05 | Almohadones"
            android:parentActivityName=".Abigail.almohadones" />
        <activity
            android:name=".Abigail.combo4"
            android:label="Abigail05 | Almohadones"
            android:parentActivityName=".Abigail.almohadones" />
        <activity
            android:name=".Abigail.abiprodlist"
            android:label="Productos Abigail05"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Abigail.niditos"
            android:label="Abigail05 | Niditos y cuellitos"
            android:parentActivityName=".Abigail.abiprodlist" />
        <activity
            android:name=".Abigail.nidito1"
            android:label="Abigail05 | Nidito"
            android:parentActivityName=".Abigail.niditos" />
        <activity
            android:name=".Abigail.nidito2"
            android:label="Abigail05 | Cuellito bebé"
            android:parentActivityName=".Abigail.niditos" />
        <activity
            android:name=".Abigail.nidito3"
            android:label="Abigail05 | Cuello adulto"
            android:parentActivityName=".Abigail.niditos" />
        <activity
            android:name=".Abigail.colchon1"
            android:label="Abigail05 | Colchoncitos"
            android:parentActivityName=".Abigail.abiprodlist" />
        <activity
            android:name=".marcas"
            android:label="Marcas"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".pilim.pilimprodlist"
            android:label="Pilim | Productos"
            android:parentActivityName=".marcas" />
        <activity
            android:name=".pilim.pilim1"
            android:label="Pilim | Bolso maternal"
            android:parentActivityName=".pilim.pilimprodlist" />
        <activity
            android:name=".pilim.pilim2"
            android:label="Pilim | Bolso maternal"
            android:parentActivityName=".pilim.pilimprodlist" />
        <activity
            android:name=".pilim.pilim3"
            android:label="Pilim | Bolso maternal"
            android:parentActivityName=".pilim.pilimprodlist" />
        <activity
            android:name=".mibes.mibesprodlist"
            android:label="mibes | Productos"
            android:parentActivityName=".marcas" />
        <activity
            android:name=".mibes.mibes1"
            android:label="mibes | Bolso maternal"
            android:parentActivityName=".mibes.mibesprodlist" />
        <activity
            android:name=".mibes.mibes2"
            android:label="mibes | Bolso maternal"
            android:parentActivityName=".mibes.mibesprodlist" />
        <activity
            android:name=".Avent.aventprodlist"
            android:label="Avent | Productos"
            android:parentActivityName=".marcas" />
        <activity
            android:name=".Avent.aventclassic"
            android:label="Avent | Línea classic"
            android:parentActivityName=".Avent.aventprodlist" />
        <activity
            android:name=".Avent.aventclassic1"
            android:label="Avent | Mamadera"
            android:parentActivityName=".Avent.aventclassic" />
        <activity
            android:name=".Avent.aventclassic2"
            android:label="Avent | Mamadera"
            android:parentActivityName=".Avent.aventclassic" />
        <activity
            android:name=".Avent.aventclassic3"
            android:label="Avent | Mamadera"
            android:parentActivityName=".Avent.aventclassic" />
        <activity
            android:name=".Avent.aventclassic4"
            android:label="Avent | Set recién nacido"
            android:parentActivityName=".Avent.aventclassic" />
        <activity
            android:name=".Avent.aventclassic5"
            android:label="Avent | Tetina Classic+"
            android:parentActivityName=".Avent.aventclassic" />
        <activity
            android:name=".Avent.aventclassic6"
            android:label="Avent | Tetina Classic+"
            android:parentActivityName=".Avent.aventclassic" />
        <activity
            android:name=".Avent.aventclassic7"
            android:label="Avent | Tetina Classic+"
            android:parentActivityName=".Avent.aventclassic" />
        <activity
            android:name=".Avent.aventclassic8"
            android:label="Avent | Tetina Classic+"
            android:parentActivityName=".Avent.aventclassic" />
        <activity
            android:name=".Avent.aventclassic9"
            android:label="Avent | Vaso con asas"
            android:parentActivityName=".Avent.aventclassic" />
        <activity
            android:name=".Avent.aventclassic10"
            android:label="Avent | Vaso con asas"
            android:parentActivityName=".Avent.aventclassic" />
        <activity
            android:name=".Abigail.almohada1"
            android:label="Abigail05 | Almohada"
            android:parentActivityName=".Abigail.abiprodlist" />
        <activity
            android:name=".Abigail.fular1"
            android:label="Abigail05 | Fular"
            android:parentActivityName=".Abigail.abiprodlist" />
        <activity
            android:name=".Avent.aventnatural"
            android:label="Avent | Línea natural"
            android:parentActivityName=".Avent.aventprodlist" />
        <activity
            android:name=".Avent.aventnatural1"
            android:label="Avent | Mamadera"
            android:parentActivityName=".Avent.aventnatural" />
        <activity
            android:name=".Avent.aventnatural2"
            android:label="Avent | Mamadera"
            android:parentActivityName=".Avent.aventnatural" />
        <activity
            android:name=".Avent.aventnatural3"
            android:label="Avent | Tetina"
            android:parentActivityName=".Avent.aventnatural" />
        <activity
            android:name=".Avent.aventnatural4"
            android:label="Avent | Tetina"
            android:parentActivityName=".Avent.aventnatural" />
        <activity
            android:name=".Avent.aventnatural5"
            android:label="Avent | Tetina"
            android:parentActivityName=".Avent.aventnatural" />
        <activity
            android:name=".Avent.aventnatural6"
            android:label="Avent | Tetina"
            android:parentActivityName=".Avent.aventnatural" />
        <activity
            android:name=".Avent.aventnatural7"
            android:label="Avent | Sacaleche"
            android:parentActivityName=".Avent.aventnatural" />
        <activity
            android:name=".Avent.aventnatural8"
            android:label="Avent | Recipientes para leche"
            android:parentActivityName=".Avent.aventnatural" />
        <activity
            android:name=".contacto"
            android:label="Contacto"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".contactook" />
        <activity
            android:name=".Avent.aventchupetes"
            android:label="Avent | Chupetes"
            android:parentActivityName=".Avent.aventprodlist" />
        <activity
            android:name=".Avent.aventchupete1"
            android:label="Avent | Chupete"
            android:parentActivityName=".Avent.aventchupetes" />
        <activity
            android:name=".Avent.aventchupete2"
            android:label="Avent | Chupete"
            android:parentActivityName=".Avent.aventchupetes" />
        <activity
            android:name=".Avent.aventchupete3"
            android:label="Avent | Chupete"
            android:parentActivityName=".Avent.aventchupetes" />
        <activity
            android:name=".Avent.aventchupete4"
            android:label="Avent | Chupete"
            android:parentActivityName=".Avent.aventchupetes" />
        <activity
            android:name=".Avent.aventchupete5"
            android:label="Avent | Chupete"
            android:parentActivityName=".Avent.aventchupetes" />
        <activity
            android:name=".Avent.aventchupete6"
            android:label="Avent | Chupete"
            android:parentActivityName=".Avent.aventchupetes" />
        <activity
            android:name=".Avent.aventchupete7"
            android:label="Avent | Chupete"
            android:parentActivityName=".Avent.aventchupetes" />
        <activity
            android:name=".Avent.aventchupete8"
            android:label="Avent | Chupete"
            android:parentActivityName=".Avent.aventchupetes" />
        <activity
            android:name=".Avent.aventchupete9"
            android:label="Avent | Chupete"
            android:parentActivityName=".Avent.aventchupetes" />
        <activity
            android:name=".Avent.aventchupete10"
            android:label="Avent | Chupete"
            android:parentActivityName=".Avent.aventchupetes" />
        <activity
            android:name=".Avent.aventchupete11"
            android:label="Avent | Chupete"
            android:parentActivityName=".Avent.aventchupetes" />
        <activity
            android:name=".Avent.aventaccesorios"
            android:label="Avent | Accesorios"
            android:parentActivityName=".Avent.aventprodlist" />
        <activity
            android:name=".Avent.aventaccesorios1"
            android:label="Avent | Mordillo elefante"
            android:parentActivityName=".Avent.aventaccesorios" />
        <activity
            android:name=".Avent.aventaccesorios2"
            android:label="Avent | Boquilla rígida"
            android:parentActivityName=".Avent.aventaccesorios" />
        <activity
            android:name=".Avent.aventaccesorios3"
            android:label="Avent | Cuchara y tenedor"
            android:parentActivityName=".Avent.aventaccesorios" />
        <activity
            android:name=".Avent.aventaccesorios4"
            android:label="Avent | Cuchara, tenedor y cuchillo"
            android:parentActivityName=".Avent.aventaccesorios" />
        <activity
            android:name=".Avent.aventaccesorios5"
            android:label="Avent | Plato hondo pequeño"
            android:parentActivityName=".Avent.aventaccesorios" />
        <activity
            android:name=".Avent.aventaccesorios6"
            android:label="Avent | Plato hondo grande"
            android:parentActivityName=".Avent.aventaccesorios" />
        <activity
            android:name=".Avent.aventaccesorios7"
            android:label="Avent | Pezoneras small"
            android:parentActivityName=".Avent.aventaccesorios" />
        <activity
            android:name=".Avent.aventaccesorios8"
            android:label="Avent | Pezoneras standard"
            android:parentActivityName=".Avent.aventaccesorios" />
        <activity
            android:name=".Avent.aventaccesorios9"
            android:label="Avent | Esterilizador a vapor"
            android:parentActivityName=".Avent.aventaccesorios" />
        <activity
            android:name=".Avent.aventaccesorios10"
            android:label="Avent | Esterilizador eléctrico"
            android:parentActivityName=".Avent.aventaccesorios" />
        <activity
            android:name=".NUK.nukprodlist"
            android:label="NUK | Productos"
            android:parentActivityName=".marcas" />
        <activity
            android:name=".NUK.nukmamaderas"
            android:label="NUK | Mamaderas y vasos"
            android:parentActivityName=".NUK.nukprodlist" />
        <activity
            android:name=".NUK.nukmamaderas1"
            android:label="NUK | Mamadera"
            android:parentActivityName=".NUK.nukmamaderas" />
        <activity
            android:name=".NUK.nukmamaderas2"
            android:label="NUK | Mamadera"
            android:parentActivityName=".NUK.nukmamaderas" />
        <activity
            android:name=".NUK.nukmamaderas3"
            android:label="NUK | Mi primer kit"
            android:parentActivityName=".NUK.nukmamaderas" />
        <activity
            android:name=".NUK.nukmamaderas4"
            android:label="NUK | Mi primer kit"
            android:parentActivityName=".NUK.nukmamaderas" />
        <activity
            android:name=".NUK.nukmamaderas5"
            android:label="NUK | Mamaderas"
            android:parentActivityName=".NUK.nukmamaderas" />
        <activity
            android:name=".NUK.nukmamaderas6"
            android:label="NUK | Vaso"
            android:parentActivityName=".NUK.nukmamaderas" />
        <activity
            android:name=".NUK.nukmamaderas7"
            android:label="NUK | Vaso"
            android:parentActivityName=".NUK.nukmamaderas" />
        <activity
            android:name=".NUK.nukmamaderas8"
            android:label="NUK | Vaso"
            android:parentActivityName=".NUK.nukmamaderas" />
        <activity
            android:name=".NUK.nukmamaderas9"
            android:label="NUK | Vaso"
            android:parentActivityName=".NUK.nukmamaderas" />
        <activity
            android:name=".NUK.nukmamaderas10"
            android:label="NUK | Vaso"
            android:parentActivityName=".NUK.nukmamaderas" />
        <activity
            android:name=".NUK.nukmamaderas11"
            android:label="NUK | Vaso"
            android:parentActivityName=".NUK.nukmamaderas" />
        <activity
            android:name=".Abigail.manta1"
            android:label="Abigail05 | Manta y gorrito"
            android:parentActivityName=".Abigail.abiprodlist" />
        <activity
            android:name=".NUK.nukchupetes"
            android:label="NUK | Chupetes"
            android:parentActivityName=".NUK.nukprodlist" />
        <activity
            android:name=".NUK.nukchupetes1"
            android:label="NUK | Chupete"
            android:parentActivityName=".NUK.nukchupetes" />
        <activity
            android:name=".NUK.nukchupetes2"
            android:label="NUK | Chupete"
            android:parentActivityName=".NUK.nukchupetes" />
        <activity
            android:name=".NUK.nukchupetes3"
            android:label="NUK | Chupete"
            android:parentActivityName=".NUK.nukchupetes" />
        <activity
            android:name=".NUK.nukchupetes4"
            android:label="NUK | Chupete"
            android:parentActivityName=".NUK.nukchupetes" />
        <activity
            android:name=".NUK.nukchupetes5"
            android:label="NUK | Chupete"
            android:parentActivityName=".NUK.nukchupetes" />
        <activity
            android:name=".NUK.nukchupetes6"
            android:label="NUK | Chupete"
            android:parentActivityName=".NUK.nukchupetes" />
        <activity
            android:name=".NUK.nukchupetes7"
            android:label="NUK | Chupete"
            android:parentActivityName=".NUK.nukchupetes" />
        <activity
            android:name=".NUK.nukaccesorios"
            android:label="NUK | Accesorios"
            android:parentActivityName=".NUK.nukprodlist" />
        <activity
            android:name=".NUK.nukaccesorios1"
            android:label="NUK | Accesorios"
            android:parentActivityName=".NUK.nukaccesorios" />
        <activity
            android:name=".NUK.nukaccesorios2"
            android:label="NUK | Accesorios"
            android:parentActivityName=".NUK.nukaccesorios" />
        <activity
            android:name=".NUK.nukaccesorios3"
            android:label="NUK | Accesorios"
            android:parentActivityName=".NUK.nukaccesorios" />
        <activity
            android:name=".NUK.nukaccesorios4"
            android:label="NUK | Accesorios"
            android:parentActivityName=".NUK.nukaccesorios" />
        <activity
            android:name=".NUK.nukaccesorios5"
            android:label="NUK | Accesorios"
            android:parentActivityName=".NUK.nukaccesorios" />
        <activity
            android:name=".NUK.nukaccesorios6"
            android:label="NUK | Accesorios"
            android:parentActivityName=".NUK.nukaccesorios" />
        <activity
            android:name=".NUK.nukaccesorios7"
            android:label="NUK | Accesorios"
            android:parentActivityName=".NUK.nukaccesorios" />
        <activity
            android:name=".NUK.nukaccesorios8"
            android:label="NUK | Accesorios"
            android:parentActivityName=".NUK.nukaccesorios" />
        <activity
            android:name=".NUK.nukaccesorios9"
            android:label="NUK | Accesorios"
            android:parentActivityName=".NUK.nukaccesorios" />
        <activity
            android:name=".NUK.nukhigiene"
            android:label="NUK | Cuidado e higiene"
            android:parentActivityName=".NUK.nukprodlist" />
        <activity
            android:name=".NUK.nukhigiene1"
            android:label="NUK | Tijeras"
            android:parentActivityName=".NUK.nukhigiene" />
        <activity
            android:name=".NUK.nukhigiene2"
            android:label="NUK | Cepillo"
            android:parentActivityName=".NUK.nukhigiene" />
        <activity
            android:name=".NUK.nukhigiene3"
            android:label="NUK | Descongestionador"
            android:parentActivityName=".NUK.nukhigiene" />
        <activity
            android:name=".NUK.nukhigiene4"
            android:label="NUK | Termómetro de agua"
            android:parentActivityName=".NUK.nukhigiene" />
        <activity
            android:name=".NUK.nukhigiene5"
            android:label="NUK | Termómetro de baño"
            android:parentActivityName=".NUK.nukhigiene" />
        <activity
            android:name=".NUK.nukaccesoriosm"
            android:label="NUK | Accesorios para Mamá"
            android:parentActivityName=".NUK.nukprodlist" />
        <activity
            android:name=".NUK.nukaccesoriosm1"
            android:label="NUK | Pezonera"
            android:parentActivityName=".NUK.nukaccesoriosm" />
        <activity
            android:name=".NUK.nukaccesoriosm2"
            android:label="NUK | Casquillos"
            android:parentActivityName=".NUK.nukaccesoriosm" />
        <activity
            android:name=".NUK.nukaccesoriosm3"
            android:label="NUK | Sacaleche"
            android:parentActivityName=".NUK.nukaccesoriosm" />
        <activity
            android:name=".NUK.nukaccesoriosm4"
            android:label="NUK | Contenedor de leche"
            android:parentActivityName=".NUK.nukaccesoriosm" />
        <activity
            android:name=".Chicco.chiccoprodlist"
            android:label="Chicco | Productos"
            android:parentActivityName=".marcas" />
        <activity
            android:name=".Chicco.chiccomamaderas"
            android:label="Chicco | Mamaderas y accesorios"
            android:parentActivityName=".Chicco.chiccoprodlist" />
        <activity
            android:name=".Chicco.chiccomamaderas1"
            android:label="Chicco | Mamadera"
            android:parentActivityName=".Chicco.chiccomamaderas" />
        <activity
            android:name=".Chicco.chiccomamaderas2"
            android:label="Chicco | Mamadera"
            android:parentActivityName=".Chicco.chiccomamaderas" />
        <activity
            android:name=".Chicco.chiccomamaderas3"
            android:label="Chicco | Mamadera"
            android:parentActivityName=".Chicco.chiccomamaderas" />
        <activity
            android:name=".Chicco.chiccomamaderas4"
            android:label="Chicco | Mamadera"
            android:parentActivityName=".Chicco.chiccomamaderas" />
        <activity
            android:name=".Chicco.chiccomamaderas5"
            android:label="Chicco | Tetina"
            android:parentActivityName=".Chicco.chiccomamaderas" />
        <activity
            android:name=".Chicco.chiccomamaderas6"
            android:label="Chicco | Tetina"
            android:parentActivityName=".Chicco.chiccomamaderas" />
        <activity
            android:name=".Chicco.chiccomamaderas7"
            android:label="Chicco | Tetina"
            android:parentActivityName=".Chicco.chiccomamaderas" />
        <activity
            android:name=".Chicco.chiccomamaderas8"
            android:label="Chicco | Tetina"
            android:parentActivityName=".Chicco.chiccomamaderas" />
        <activity
            android:name=".Chicco.chiccomamaderas9"
            android:label="Chicco | Bandeja escurridora"
            android:parentActivityName=".Chicco.chiccomamaderas" />
        <activity
            android:name=".Chicco.chiccomamaderas10"
            android:label="Chicco | Asas para mamadera"
            android:parentActivityName=".Chicco.chiccomamaderas" />
        <activity
            android:name=".Chicco.chiccomamaderas11"
            android:label="Chicco | Cucharas"
            android:parentActivityName=".Chicco.chiccomamaderas" />
        <activity
            android:name=".Chicco.chiccomamaderas12"
            android:label="Chicco | Vaso"
            android:parentActivityName=".Chicco.chiccomamaderas" />
        <activity
            android:name=".Chicco.chiccomamaderas13"
            android:label="Chicco | Chupete"
            android:parentActivityName=".Chicco.chiccomamaderas" />
        <activity
            android:name=".Chicco.chiccomamaderas14"
            android:label="Chicco | Chupete"
            android:parentActivityName=".Chicco.chiccomamaderas" />
        <activity
            android:name=".Chicco.chiccomamaderas15"
            android:label="Chicco | Chupete"
            android:parentActivityName=".Chicco.chiccomamaderas" />
        <activity
            android:name=".Chicco.chiccomamaderas16"
            android:label="Chicco | Chupete"
            android:parentActivityName=".Chicco.chiccomamaderas" />
        <activity
            android:name=".Chicco.chiccomamaderas17"
            android:label="Chicco | Cepillo"
            android:parentActivityName=".Chicco.chiccomamaderas" />
        <activity
            android:name=".Chicco.chiccohigiene"
            android:label="Chicco | Higiene y protección"
            android:parentActivityName=".Chicco.chiccoprodlist" />
        <activity
            android:name=".Chicco.chiccohigiene1"
            android:label="Chicco | Humidificador"
            android:parentActivityName=".Chicco.chiccohigiene" />
        <activity
            android:name=".Chicco.chiccohigiene2"
            android:label="Chicco | Alfombra antideslizante"
            android:parentActivityName=".Chicco.chiccohigiene" />
        <activity
            android:name=".Chicco.chiccohigiene3"
            android:label="Chicco | Cubre enchufes"
            android:parentActivityName=".Chicco.chiccohigiene" />
        <activity
            android:name=".Chicco.chiccohigiene4"
            android:label="Chicco | Esquineros protectores"
            android:parentActivityName=".Chicco.chiccohigiene" />
        <activity
            android:name=".Chicco.chiccohigiene5"
            android:label="Chicco | Traba heladera"
            android:parentActivityName=".Chicco.chiccohigiene" />
        <activity
            android:name=".Chicco.chiccohigiene6"
            android:label="Chicco | Traba cajones"
            android:parentActivityName=".Chicco.chiccohigiene" />
        <activity
            android:name=".Chicco.chiccohigiene7"
            android:label="Chicco | Traba puerta"
            android:parentActivityName=".Chicco.chiccohigiene" />
        <activity
            android:name=".Chicco.chiccohigiene8"
            android:label="Chicco | Salva dedos"
            android:parentActivityName=".Chicco.chiccohigiene" />
        <activity
            android:name=".Chicco.chiccosilla"
            android:label="Chicco | Sillas"
            android:parentActivityName=".Chicco.chiccoprodlist" />
        <activity
            android:name=".Chicco.chiccosilla1"
            android:label="Chicco | Silla"
            android:parentActivityName=".Chicco.chiccosilla" />
        <activity
            android:name=".Chicco.chiccosilla2"
            android:label="Chicco | Silla"
            android:parentActivityName=".Chicco.chiccosilla" />
        <activity
            android:name=".Chicco.chiccosilla3"
            android:label="Chicco | Silla"
            android:parentActivityName=".Chicco.chiccosilla" />
        <activity
            android:name=".Nuby.nubyprodlist"
            android:label="Nuby | Productos"
            android:parentActivityName=".marcas" />
        <activity
            android:name=".Nuby.nubyvasos"
            android:label="Nuby | Vasos"
            android:parentActivityName=".Nuby.nubyprodlist" />
        <activity
            android:name=".Nuby.nubyvasos1"
            android:label="Nuby | Vaso"
            android:parentActivityName=".Nuby.nubyvasos" />
        <activity
            android:name=".Nuby.nubyvasos2"
            android:label="Nuby | Vaso"
            android:parentActivityName=".Nuby.nubyvasos" />
        <activity
            android:name=".Nuby.nubyvasos3"
            android:label="Nuby | Vaso"
            android:parentActivityName=".Nuby.nubyvasos" />
        <activity
            android:name=".Nuby.nubyvasos4"
            android:label="Nuby | Vaso"
            android:parentActivityName=".Nuby.nubyvasos" />
        <activity
            android:name=".Nuby.nubyvasos5"
            android:label="Nuby | Vaso"
            android:parentActivityName=".Nuby.nubyvasos" />
        <activity
            android:name=".Nuby.nubyvasos6"
            android:label="Nuby | Vaso"
            android:parentActivityName=".Nuby.nubyvasos" />
        <activity
            android:name=".Nuby.nubyaccesorios"
            android:label="Nuby | Accesorios y alimentación"
            android:parentActivityName=".Nuby.nubyprodlist" />
        <activity
            android:name=".Nuby.nubyaccesorios1"
            android:label="Nuby | Chupete para fruta"
            android:parentActivityName=".Nuby.nubyaccesorios" />
        <activity
            android:name=".Nuby.nubyaccesorios2"
            android:label="Nuby | Cucharas"
            android:parentActivityName=".Nuby.nubyaccesorios" />
        <activity
            android:name=".Nuby.nubyaccesorios3"
            android:label="Nuby | Mordillo circular"
            android:parentActivityName=".Nuby.nubyaccesorios" />
        <activity
            android:name=".Nuby.nubyaccesorios4"
            android:label="Nuby | Mordillo bichitos"
            android:parentActivityName=".Nuby.nubyaccesorios" />
        <activity
            android:name=".Nuby.nubyaccesorios5"
            android:label="Nuby | Aspirador nasal y de oído"
            android:parentActivityName=".Nuby.nubyaccesorios" />
        <activity
            android:name=".Nuby.nubyaccesorios6"
            android:label="Nuby | Cepillos"
            android:parentActivityName=".Nuby.nubyaccesorios" />
        <activity
            android:name=".Nuby.nubyaccesorios7"
            android:label="Nuby | Cepillo y peine"
            android:parentActivityName=".Nuby.nubyaccesorios" />
        <activity
            android:name=".Nuby.nubyaccesorios8"
            android:label="Nuby | Bowl"
            android:parentActivityName=".Nuby.nubyaccesorios" />
        <activity
            android:name=".Nuby.nubyaccesorios9"
            android:label="Nuby | Plato térmico"
            android:parentActivityName=".Nuby.nubyaccesorios"/>
        <activity android:name=".Nuby.nubyaccesorios10"
            android:label="Nuby | Cerealero monstruo"
            android:parentActivityName=".Nuby.nubyaccesorios">

        </activity>
    </application>

</manifest>